@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: rgb(15, 69, 93);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgb(246, 239, 230);
}
.sand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
