@import "tailwindcss";
@plugin 'daisyui';
[data-theme="dark"] {
  --color-primary: rgb(41, 49, 58);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgb(29, 35, 42);
  --color-gray-800: rgb(29, 35, 42);
  --color-gray-900: rgb(12, 20, 29);
}
[data-theme="light"] {
  --color-primary: rgb(0, 50, 71);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgb(246, 239, 230);
  --color-gray-800: rgb(29, 35, 42);
  --color-gray-900: rgb(12, 20, 29);
}
.text-stroke {
  font-size: 23px;
  color: var(--color-secondary);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-primary);
}
.btn {
  @apply bg-linear-90 from-[#FEEBD5] to-[#F0C899] rounded-full text-lg text-[#422C12] border-none;
}

.active {
  background-color: rgb(29, 35, 42);
  border-radius: 10px;
}

.sand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slider-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic1.jpg");
  height: 700px;
}

.slider-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic2.jpg");
  height: 700px;
}

.slider-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic3.jpg");
  height: 700px;
}

.slider-4 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic4.jpg");
  height: 700px;
}

[data-theme="dark"] .main-layout {
  opacity: 1;
  background-image: linear-gradient(
      #3f3f3f 0.1px,
      transparent 0.1px,
      transparent calc(100% - 0.6px),
      #3f3f3f calc(100% - 0.4px)
    ),
    linear-gradient(
      90deg,
      #3f3f3f 0.1px,
      transparent 0.1px,
      transparent calc(100% - 0.6px),
      #3f3f3f calc(100% - 0.4px)
    );
  background-size: 2% 2%;
  border: 0.5 solid #3f3f3f;
}
[data-theme="light"] .main-layout {
  opacity: 1;
  background-image: linear-gradient(
      #d4d4d4 0.1px,
      transparent 0.1px,
      transparent calc(100% - 0.6px),
      #d4d4d4 calc(100% - 0.4px)
    ),
    linear-gradient(
      90deg,
      #d4d4d4 0.1px,
      transparent 0.1px,
      transparent calc(100% - 0.6px),
      #d4d4d4 calc(100% - 0.4px)
    );
  background-size: 2% 2%;
  border: 0.5 solid #d4d4d4;
}
