@import "tailwindcss";
@plugin 'daisyui';
[data-theme="light"] {
  --color-primary: rgb(15, 69, 93);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgb(246, 239, 230);
}
[data-theme="dark"] {
  --color-primary: rgb(15, 69, 93);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgba(0, 0, 0, 0);
}

.btn {
  @apply bg-linear-90 from-[#FEEBD5] to-[#F0C899] rounded-full text-lg text-[#422C12] border-none;
}

.active {
  border-bottom: 2px solid;
}

.sand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slider-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic1.jpg");
  height: 700px;
}

.slider-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic2.jpg");
  height: 700px;
}

.slider-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic3.jpg");
  height: 700px;
}

.slider-4 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic4.jpg");
  height: 700px;
}
