@import "tailwindcss";
@plugin 'daisyui';
[data-theme="dark"] {
  --color-primary: rgb(41, 49, 58);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgb(29, 35, 42);
  --color-gray-800: rgb(29, 35, 42);
  --color-gray-900: rgb(12, 20, 29);
}
[data-theme="light"] {
  --color-primary: rgb(0, 50, 71);
  --color-secondary: rgb(253, 218, 179);
  --color-accent: rgb(246, 239, 230);
  --color-gray-800: rgb(29, 35, 42);
  --color-gray-900: rgb(12, 20, 29);
}

.btn {
  @apply bg-linear-90 from-[#FEEBD5] to-[#F0C899] rounded-full text-lg text-[#422C12] border-none;
}

.active {
  background-color: var(--color-accent);
  border-radius: 10px;
}

.sand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slider-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic1.jpg");
  height: 700px;
}

.slider-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic2.jpg");
  height: 700px;
}

.slider-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic3.jpg");
  height: 700px;
}

.slider-4 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/catPic4.jpg");
  height: 700px;
}

.main-layout {
  opacity: 1;
  background-image: radial-gradient(#484b50 0.9px, transparent 0.9px),
    radial-gradient(#484b50 0.9px, transparent 0.9px);
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
}
